{% liquid
  assign section_class = 'il-image--' | append: section.id
%}

{% style %}
  .il-image {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .il-image__image-container {
    width: 100%;
    height: 100%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
{% endstyle %}

<div class="{{ section_class }} il-image">
  <div class="il-image__image-container">
    <img class="il-image__image" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
  </div>
</div>

{% render 'il-x-margins', parent_class: section_class, settings: section.settings %}

{% schema %}
{
  "name": "IL Image",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Margin"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_desktop",
      "label": "Enable on desktop",
      "default": false
    },
    {
      "type": "number",
      "id": "margin_top_desktop",
      "info": "px",
      "label": "Top",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_desktop }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "info": "px",
      "label": "Bottom",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_mobile",
      "label": "Enable on mobile",
      "default": false
    },
    {
      "type": "number",
      "id": "margin_top_mobile",
      "info": "px",
      "label": "Top",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_mobile }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "info": "px",
      "label": "Bottom",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_mobile }}"
    }
  ],
  "presets": [
    {
      "name": "IL Image"
    }
  ]
}
{% endschema %}