{{ 'il-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'il-slider-galary.js' | asset_url }}" type="module" defer></script>

<section class="il-slider">
  <div class="il-slider__flex">
    <div class="il-slider__images">
      <div class="swiper-container">
        <div class="swiper-wrapper">
					{% for block in section.blocks %}
						{% if block.type == 'slide' %}
							{% liquid
								 assign back_image = block.settings.image
								 assign back_image_mobile = block.settings.image_mobile
								 assign product = block.settings.product
								 assign product_fragrance = product.metafields.custom.fragrance | upcase
							%}
							<div class="swiper-slide">
								<div class="il-slider__image">
									<img src="{{ back_image | img_url: "master" }}" alt="{{ back_image.alt | default: product.title }}"/>
									<img class="mobile" src="{{ back_image_mobile | img_url: "master" }}" alt="{{ back_image_mobile.alt | default: product.title }}"/>
								</div>
								<div class="content">
									<div class="text-wrapper">
										<p class="product-edition">{{ product_fragrance }}</p>
										<p class="product-name">{{ product.title }}</p>
									</div>
									<div class="product-card">
										<div class="product-card__image">
											<img src="{{ product.featured_image | img_url: "master" }}" alt="{{ product.featured_image.alt | default: product.title }}"/>
										</div>
										<div class="product-card__info">
											<div class="product-card__product-info">
												<p class="product-edition">{{ product_fragrance }}</p>
												<p class="product-name">{{ product.title }}</p>
											</div>
											<div class="product-card__size text">{{ product.options_by_name['Size'].name | downcase }} {{ product.variants[0].options[0] | downcase }}</div>
											<div class="product-card__price text">{{ product.price | money_without_trailing_zeros }}</div>
										</div>
										<a href="/products/white-gardenia-petals" class="product-card__link"></a>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
</section>


{% schema %}
{
  "name": "IL-Slider",
  "class": "il-slider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "IL-Slider",
      "settings": {
      }
    }
  ]
}
{% endschema %}