{{ 'il-subscriptions.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_class = 'il-subscriptions--' | append: section.id

  capture left_content
    content_for 'block', type: 'email-signup', id: 'email_signup'
  endcapture
  assign left_content = left_content | strip

  capture right_content
    content_for 'block', type: 'il-text-with-link', id: 'il_text_with_link'
  endcapture
  assign right_content = right_content | strip
%}

<div class="section">
  <div class="{{ section_class }} il-subscriptions">
    {% if left_content != blank %}
      <div class="il-subscriptions__left">
        {{ left_content }}
      </div>
    {% endif %}
    {% if right_content != blank %}
      <div class="il-subscriptions__right">
        {{ right_content }}
      </div>
    {% endif %}
  </div>
</div>

{% render 'il-x-margins', parent_class: section_class, settings: section.settings %}

{% schema %}
{
  "name": "IL Subscriptions",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Margin"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_desktop",
      "label": "Enable on desktop",
      "default": false
    },
    {
      "type": "number",
      "id": "margin_top_desktop",
      "info": "px",
      "label": "Top",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_desktop }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "info": "px",
      "label": "Bottom",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_mobile",
      "label": "Enable on mobile",
      "default": false
    },
    {
      "type": "number",
      "id": "margin_top_mobile",
      "info": "px",
      "label": "Top",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_mobile }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "info": "px",
      "label": "Bottom",
      "default": 0,
      "visible_if": "{{ section.settings.enable_margin_mobile }}"
    }
  ],
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "IL Subscriptions"
    }
  ]
}
{% endschema %}